@font-face {
    font-family: 'TenorSans';
    font-style: normal;
    font-weight: 500;    
    src: url('/fonts/TenorSans.ttf') format('truetype'),        
}

@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 500;    
    src: url('/fonts/Forum.ttf') format('truetype'),        
}

@font-face {
    font-family: 'Biryani';
    font-style: normal;
    font-weight: 500;    
    src: url('/fonts/Biryani.ttf') format('truetype'),        
}

body {
    background-color: #FFF7EB;
    color: #012C33;
    /* color: #05414F */
}

a:link {
    color: #DC6968
}

a:hover {
    color: #F3868D
}